@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

htm,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.loader {
  width: 100px;
  height: 100px;
  display: grid;
  border: 8px solid #0000;
  border-radius: 50%;
  border-color: #000000 #0000;
  animation: s6 2s infinite linear;
}
.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  margin: 4px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #3e2cf4 #0000;
  animation: inherit;
  animation-duration: 1s;
  animation-direction: reverse;
}
.loader::after {
  margin: 16px;
}

@keyframes s6 {
  100% {
    transform: rotate(1turn);
  }
}
